p require-variable-current-dir

- var file = 'image.png'
img.a1(src=require(file))
img.a2(src=require(`${file}`))
img.a3(src=require('./' + file))
img.a4(src=require('./' + `${file}`))
img.a5(src=require(`./${file}`))

- var file = './image.png'
img.b1(src=require(file))