<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link href="@images/favicons/favicon.svg" rel="icon" type="image/svg">
  <script disable-src="app.js"></script>
</head>
<body>
  {{> header }}
  {{> menu/nav }}
  {{> menu/top/desktop }}
  {{> menu/top/mobile }}
  {{> menu/aside/left }}
  {{> menu/aside/right }}
  {{> gallery }}
  {{> teaser }}
  <h1>{{ headline }}</h1>
  <ul class="people">
    {{#each people}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <img src="../../images/apple.png" alt="apple" />

  <h1>{{ articleTitle }}</h1>
  <ul class="articles">
    {{#each articles}}
    <li>{{this.name}}: {{this.price}}</li>
    {{/each}}
  </ul>

  <h2>Test: watch helpers for changes (adding/renaming/deleting)</h2>
  <p>
    Dou you see a bold text? _{{#bold}}bold{{/bold}}_<br>
    Dou you see an italic text? _{{#italic}}italic{{/italic}}_
  </p>

  {{> footer }}
  {{> lorem myVar="pass myVar via partial syntax `>`" }}
  {{ include 'src/views/partials/lorem' myVar="pass myVar via helper `include`" }}
</body>
</html>
