html
  head
    title Test
    link(rel='icon' href=require('~Images/favicon.ico'))
  body
    //- Limitation: relative path in variable with compile method is impossible
        because Webpack don't detect that file for resolving
    - var file = '../assets/images/image.png'
    img.r1(src=require(file))

    //- require file from local directory as variable

    - var file = 'image.png'
    img.v1(src=require(file))
    img.v2(src=require(`${file}`))
    img.v3(src=require('./' + file))
    img.v4(src=require('./' + `${file}`))
    img.v5(src=require(`./${file}`))
