- var name = 'image';
- var file = name + '.webp';
- var file2 = './image.webp';
- var file3 = './subdir/image.webp';
- var file4 = require(file3);

//- limitations: in compile mode doesn't work
- var file5 = '../assets/images/image.webp';

h1 Hello World!

//- required files that should resolve in the current directory need to start with './'
img.a1(src=require('./image.webp'))
img.a2(src=require('./' + file))
img.a3(src=require(`${file2}`))
img.a4(src=require(file2))
img.a5(src=require(file3))
img.a6(src=file4)
//-img.a7(src=require(file5))

img.b1(src=require('./subdir/image.webp'))
img.b2(src=require('./subdir/' + file))
img.c1(src=require('../assets/images/image.webp'))
img.c2(src=require('../assets/images/' + file))

img.d1(src=require('Images/image.webp'))
img.d2(src=require("~Images/" + file))
img.d3(src=require(`@Images/${file}`))
img.d4(src=require(`@Images/image.webp`))

//- alias defined in tsconfig.json using the webpack resolve.plugins
img.e1(src=require(`@TSImages/image.webp`))

//- limitations: in compile mode doesn't work
    img.e2(src=require(`@TSImages/` + file))

//- test option `basedir` and trim()
img.f1(src=require( '/assets/images/' + file))

-
  //- test require of a function
  //- limitations: in compile mode doesn't work
  //-var cat = 'cat-1';
  //-var colorModule = require(`@data/${cat}/color.js`)
  var colorModule = require('@data/cat-1/color')

  //- alias `Data` from webpack alias
  var colorModule2 = require('~Data/cat-1/color');

  colorModule.add(require('@data/colors.json'));
  var colors = colorModule.getData();
  var str = colorModule.colorize('Hello green World!', 'green');

p !{colorModule.colorize('Hello green World!', 'green')}
p !{colorModule2.colorize('Hello red World!', 'red')}

//- test single require of a JSON
- var colors = require('../data/colors.json')

.color-names-1
  each color in colors
    - style = `color: ${color.name}`
    span(style=style)= color.name
    span &nbsp;

//- test multiple requires of a JSON in an object
-
  var data = [
    {
      name: 'Colors from colors.json',
      colors: require('../data/colors.json'),
    },
    {
      name: 'Colors from colors2.json',
      colors: require('Data/cat-2/colors2.json'),
    }
  ]

.color-names-2
  each item in data
    h3= item.name
    each color in item.colors
      - style = `color: ${color.hex}`
      span(style=style)= color.name
      span &nbsp;
