html
  head
    script(src=require('../assets/scripts/file1.js'))
    //- resolve script w/o extension
    script(src=require('../assets/scripts/file2?tstamp=1234'))
    //- root path in basedir or rootContext
    script(src=require('/src/assets/scripts/file3?stamp=1234'))
    //- alias in rootContext
    script(src=require('ScriptsContext/file4.js?stamp=1234'))
    //- absolute alias
    script(src=require('Scripts/file5.js?stamp=1234'))
    //- node module
    script(src=require('ansis'))
  body
    h1 Hello World!
