html
  head
    //- test relative path by root context, with extension
    script(src=require('/src/assets/scripts/file1.js'))

    //- WARNING: second same script WILL NOT be resolved in generated HTML, use only ONE unique script
    //-script(src=require('/src/assets/scripts/file1.js'))
    //-script(src=require('/src/assets/scripts/file1'))

    //- test relative path by root context, without extension
    script(src=require('/src/assets/scripts/file2'))

    //- test alias as root context, with extension
    script(src=require('ScriptsContext/file3.js'))

    //- test alias as absolute path, without extension
    script(src=require('Scripts/file4'))
  body
    h1 Hello World!
