<h1>Hello {{ name }}!</h1>
<div>Global data: title = "{{ title }}"</div>
<div>Query param: lang = "{{ lang }}"</div>

<ul>
    {{#each people}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<img src="@images/fig.png" srcset="@images/kiwi.png 300w, @images/pear.png 400w">
{{!-- {{TODO: add supports for include 'star'}} --}}
