<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <script disable-src="app.js"></script>
</head>
<body>
  {{> header }}
  {{> menu/nav }}
  {{> menu/top/desktop }}
  {{> menu/top/mobile }}
  {{> menu/aside/left }}
  {{> menu/aside/right }}
  {{> gallery }}
  {{> teaser }}
  <h1>{{ headline }}</h1>
  <ul class="people">
    {{#each people}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <img src="../../images/apple.png" alt="apple" />

  <h1>{{ articleTitle }}</h1>
  <ul class="articles">
    {{#each articles}}
    <li>{{this.name}}: {{this.price}}</li>
    {{/each}}
  </ul>

  {{> footer }}
</body>
</html>
