- var file = './image.png'

img.a1(src=require('SourceImages/image.png'))
img.a2(src=require("SourceImages/image.png"))
img.a3(src=require(`SourceImages/image.png`))

img.b1(src=require('~SourceImages/image.png'))
img.b2(src=require('@SourceImages/image.png'))

img.c1(src=require('SourceImages/' + file))
img.c2(src=require("SourceImages/" + file))
img.c3(src=require(`Source/images/${file}`))