{{! expected props to receive }}
{{#expect title, header, persons }}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{! reference to source image }}
  <link href="../../images/favicon.png" rel="shortcut icon" type="image/png">
  {{! references to source style and script }}
  <link href="../../scss/styles.scss" rel="stylesheet">
  <script src="../../js/main.js" defer="defer"></script>
</head>
<body>
  {{#include src='header.hbs' }}

  <div class="container">
    <h1>Tempura</h1>

    {{! inline variables }}
    {{#var count = persons.length }}

    {{#if count <= 1}}
      {{#var str_person = 'person' }}
    {{#else}}
      {{#var str_person = 'persons' }}
    {{/if}}

    {{#bar value="Custom helper! 🎉"}}

    {{! using of the arraySize helper }}
    <p>{{ count }} {{ str_person }}:</p>

    <ul class="person">
      {{#each persons as person}}
        <li>{{person.name}} is {{person.age}} years old.</li>
      {{/each}}
    </ul>
  </div>

  {{#include src='footer.hbs' }}
</body>
</html>
